<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <style>
        .ui.form {
            display: inline-block; /* Set the form display to inline-block */
        }
    </style>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Logs</h1>

        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>Log Title</label>
                <input type="text" name="log_entry" placeholder="Enter Todo..."><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>

        {% for log in log_list %}
        <div class="ui segment">
            <p class="ui big header">{{ log.id }} | {{ log.ts }}</p>

            {% if log.reviewed == False %}
            <span class="ui gray label">Not Reviewed</span>
            {% else %}
            <span class="ui green label">Reviewed</span>
            {% endif %}
            
            <a class="ui blue button" href="/entry/{{ log.id }}">Show</a>
            <form class="ui form" action="/update/{{ log.id }}" method="post">
                <button class="ui dark yellow button" type="submit">Update</button>
            </form> 
            <a class="ui red button" href="/delete/{{ log.id }}">Delete</a>   
        </div>
        {% endfor %}
    </div>
</body>

</html> 